
<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav class="my-sidenav" opened="true"><app-sidenav></app-sidenav>
  </mat-sidenav>

  <div class="my-content">
    <mat-toolbar color="primary" class="unselectable">
      <div class="alex-navbar-inner">
        <button mat-icon-button class="navbar-icon" (click)="sidenav.toggle()">
           <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
           <mat-icon *ngIf="sidenav.opened">arrow_back</mat-icon>
        </button>
        <div class="alex-navbar-button">
          <button mat-button style="centered">ALEXANDER SUITS ADMIN</button>
        </div>
      </div>
    </mat-toolbar>

    <!-- <div class="nav-padder"> -->
        <router-outlet>

        </router-outlet>
    <!-- </div> -->
    <!-- <app-footer [appTitle]=app_name>

    </app-footer> -->
  </div>

</mat-sidenav-container>
