<div class="container-fluid animated fadeIn">
  <div class="product-add-container" *ngIf="!isLoading">
    <h1>Add Product</h1>
    <div class="product-add-form">
      <form class="s-form">
        <mat-form-field class="p-full-width">
          <input matInput placeholder="Product Name" value="" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field class="p-full-width">
          <input matInput placeholder="Description" value="" [(ngModel)]="product.desc" name="desc">
        </mat-form-field>
        <td-chips [chipAddition]="chipAddition"
            name="cats"
            color="primary"
            [chipRemoval]="chipRemoval"
            [items]="filteredStrings"
            [(ngModel)]="stringsModel"
            placeholder="Enter multiple categories"
            [disabled]="disabled"
            (inputChange)="filterStrings($event)"
            requireMatch>
        </td-chips>

        <mat-select placeholder="Suit Price Category" class="p-full-width">
           <mat-option *ngFor="let price of prices" [value]="price.id">{{ price.name }}</mat-option>
        </mat-select>


        <mat-select placeholder="Shirt Price Category" class="p-full-width">
           <mat-option *ngFor="let price of prices2" [value]="price.id">{{ price.name }}</mat-option>
        </mat-select>
        <!-- <mat-form-field  class="p-full-width">
           <input type="text" placeholder="Category" matInput name="category" [(ngModel)]="product.category" [formControl]="myControl" [matAutocomplete]="auto">
        </mat-form-field> -->

        <!-- <mat-autocomplete #auto="matAutocomplete" class="p-full-width">
           <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
           </mat-option>
        </mat-autocomplete> -->
        <mat-form-field class="p-full-width">
          <span matPrefix><b>ZAR &nbsp;</b></span>
          <input matInput type="number" name="price" value=""  [(ngModel)]="product.price" placeholder="Fixed Price">
        </mat-form-field>
        <mat-form-field class="p-full-width">
          <input matInput type="number" name="stock" value=""  placeholder="Current Stock"  [(ngModel)]="product.stock" >
        </mat-form-field>
        <div style="text-align: left;">
          <p>Main Image: {{fileUploading}}</p>
          <p *ngIf="fileSelectMsg">
            Click again to upload before submitting
          </p>
          <td-file-upload accept=".jpg, .png, .jpeg" defaultColor="primary" activeColor="warn" cancelColor="primary" #singleFileUpload
          (select)="selectEvent($event)" (cancel)="cancelEvent()"  [(disabled)]="uploading" >
            <mat-icon>file_upload</mat-icon><span>1 file selected</span>
            <ng-template td-file-input-label>
              <mat-icon>attach_file</mat-icon><span>Choose a file...</span>
            </ng-template>
          </td-file-upload>
        </div>
        <!-- <div *ngIf="imagesUploaded?.length > 0">
          <p>
            <td-chips
                      name="img1"
                      color="primary"
                      [chipAddition]="canAddChips"
                      [(ngModel)]="imagesUploaded"
                      placeholder=""
                      >
            </td-chips>
          </p>
        </div> -->
      </form>
      <div class="p-button">
        <button mat-raised-button color="primary" (click)="next()">Next</button>
      </div>
    </div>
  </div>
</div>
