.product-add-container {
  padding-top: 60px;
  padding-bottom: 80px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  h1{
    text-align: center;
  }
}

.product-add-form {
  padding-top: 40px;
}

.p-form {
  margin: 0 auto;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.p-full-width {
  width: 100%;
}

.p-button {
  padding: 20px;
}

td-chips {
   padding: 0px !important;
  // margin-top: 5px;
  // margin-bottom: 15px;
}

mat-select{
  text-align: left;
  margin-top: 5px;
  margin-bottom: 15px;
}
