
  <div class="my-sidenav-overlay">

  </div>
  <div class="my-sidenav-inner">
      <button mat-button routerLink="/home"><div class="button-section"><i class="material-icons">dashboard</i> Dashboard</div></button>
      <hr />
      <button mat-button routerLink="/fabrics"><div class="button-section"><i class="material-icons">apps</i> Fabrics</div></button>
      <button mat-button routerLink="/add-fabric"><div class="button-section"><i class="material-icons">note_add</i> Add Fabric</div></button>
      <button mat-button routerLink="/linings"><div class="button-section"><i class="material-icons">line_style</i> Linings</div></button>
      <button mat-button routerLink="/add-lining"><div class="button-section"><i class="material-icons">note_add</i> Add Lining</div></button>
      <button mat-button routerLink="/orders"><div class="button-section"><i class="material-icons">receipt</i> Orders</div></button>
      <button mat-button><div class="button-section"><i class="material-icons">rounded_corner</i> Add Order</div></button>
      <button mat-button routerLink="/clients"><div class="button-section"><i class="material-icons">face</i> Clients</div></button>
      <!-- <button mat-button><div class="button-section"><i class="material-icons">euro_symbol</i> Transactions</div></button> -->

  </div>
