
  <div class="my-sidenav-overlay">

  </div>
  <div class="my-sidenav-inner">
      <button mat-button routerLink="/home"><div class="button-section"><i class="material-icons">dashboard</i> Dashboard</div></button>
      <hr />
      <button mat-button routerLink="/products"><div class="button-section"><i class="material-icons">apps</i> Products</div></button>
      <button mat-button routerLink="/add-product"><div class="button-section"><i class="material-icons">note_add</i> Add Product</div></button>
      <button mat-button routerLink="/orders"><div class="button-section"><i class="material-icons">receipt</i> Orders</div></button>
      <button mat-button><div class="button-section"><i class="material-icons">rounded_corner</i> Add Order</div></button>
      <button mat-button routerLink="/clients"><div class="button-section"><i class="material-icons">face</i> Clients</div></button>
      <button mat-button><div class="button-section"><i class="material-icons">euro_symbol</i> Transactions</div></button>

  </div>
