
  <div class="my-sidenav-overlay">

  </div>
  <div class="my-sidenav-inner">
      <button md-button routerLink="home"><div class="button-section"><i class="material-icons">dashboard</i> Dashboard</div></button>
      <hr />
      <button md-button><div class="button-section"><i class="material-icons">apps</i> Products</div></button>
      <button md-button><div class="button-section"><i class="material-icons">note_add</i> Add Product</div></button>
      <button md-button><div class="button-section"><i class="material-icons">receipt</i> Orders</div></button>
      <button md-button><div class="button-section"><i class="material-icons">face</i> Clients</div></button>
      <button md-button><div class="button-section"><i class="material-icons">euro_symbol</i> Transactions</div></button>

  </div>
