<div class="login-body">
  <div class="container">
    <div class="login-card card1 animated fadeInRight">
      <div *ngIf="!authenticating">
        <h3><b>Alexander Suits Admin</b></h3>
        <p>
          Please log in below
        </p>
        <div class="login-button">
          <button mat-raised-button color="primary" (click)="login()">Log In</button>
        </div>
      </div>
      <div *ngIf="authenticating">
        <h3><b>Alexander Suits Admin</b></h3>
        <p>
          Logging you in, please wait
        </p>
        <div class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
