<div class="dashboard-home">
    <div class="container-fluid animated fadeIn">
        <h1>Dashboard</h1>
        <h4>Drag-and-drop Orders demo</h4><br />
        <div class="row">
            <div dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']">
                <div class="col-sm-4"
                        *ngFor="let container of containers; let i = index"
                        dnd-sortable [sortableIndex]="i" [dragEnabled]="dragOperation">
                    <div class="panel {{container.panel}}"
                        dnd-sortable-container [sortableData]="container.widgets" [dropZones]="['widget-dropZone']">
                        <div class="panel-heading">
                          {{container.name}}
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li *ngFor="let widget of container.widgets; let x = index" class="list-group-item"
                                    dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation"
                                    [dragData]="widget"><div>
                                      {{widget.name}}<br />
                                      <strong>{{widget.person}}</strong>
                                    </div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </div>
</div>
